apiVersion: v1
kind: ConfigMap
metadata:
  name: easyshop-config
  namespace: easyshop
data:
   MONGODB_URI: "mongodb://mongodb-0.mongodb-service.easyshop.svc.cluster.local:27017/easyshop"
   REDIS_URI: "redis://easyshop-redis.easyshop.svc.cluster.local:6379"
   NODE_ENV: "production"
   NEXT_PUBLIC_API_URL: "https://34.247.13.210/api" 
   NEXTAUTH_URL: "https://34.247.13.210"  
   NEXTAUTH_SECRET: "RTSaoON40rZV+CCw/4+Be5rPE7jYB8U/miJbldN5VvI="
   JWT_SECRET: "25d17be4c1f14a8718f0e93d817ea1d0237be3eeb537a59161393e3bf430fb72"
